# Pycharm
.idea/
.ipynb_checkpoints/

# Vimg

*~
*.swp
*.swo
node_modules/
*.egg-info/


# Basics
*.pyc
__pycache__
# *.ipynb

# Eclipse
.project
.pydevproject
android_jars/
.venv/

.coverage
ipython/
static/


media/

mysite.log
db.sqlite3
*.ipynb

*.fuse*
virtual_environment/

# Build Folders
*/build/*

# Docs Folders
docs/*

env_*.sh
